<div class="homepage-container">
  <div class="left-container">
    <ng-container *ngFor="let image of images; let i = index; let even = even">
      <div *ngIf="even">
        <a (click)="goto(image.url); $event.preventDefault()">
          <img [src]="image.src" alt="Bild">
        </a>
        <p>{{ image.text }}</p>
      </div>
    </ng-container>
  </div>
  <div class="right-container">
    <ng-container *ngFor="let image of images; let i = index; let odd = odd">
      <div *ngIf="odd">
        <img [src]="image.src" alt="Bild" (click)="goto(image.url); $event.preventDefault()">
        <p>{{ image.text }}</p>
      </div>
    </ng-container>
  </div>
</div>
