<mat-accordion multi>
  <div class="container">
    <mat-expansion-panel expanded [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          TEST TEXT NUMMER 1
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="button-container"> <!-- Hier können Bilderlinks rein, die dann auf Berichte gehen -->
        <!--
        <button mat-raised-button routerLink="/menezesVanstone" color="primary">Menezes-Vanstone</button>
        -->
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
