<div class="navbar-container">
  <div class="navbar-header">
    Möbelmanufaktur-Menke
  </div>
  <div class="navbar-buttons">
    <button mat-raised-button color="primary" routerLink="/homepage">Startseite</button>
    <button mat-stroked-button routerLink="/us">Über uns</button>
    <button mat-stroked-button routerLink="/tools">Maschinenpark</button>
    <!-- <button mat-stroked-button routerLink="/projects">Projekte</button> -->
    <!-- <button mat-stroked-button routerLink="/sales">Verkauf</button> -->
    <button mat-stroked-button routerLink="/customer_ratings">Kundenbewertungen</button>
    <button mat-stroked-button routerLink="/imprint">Impressum</button>
    <button mat-stroked-button routerLink="/contact">Kontakt</button>
  </div>
</div>
