<div class="customer-ratings-container">
  <div class="row">
    <div class="left-side">
      <h2>{{ content.vinnersheep_header }}</h2>
      <p>{{ content.vinnersheep_content }}</p>
    </div>
    <div class="right-side">
      <img [src]="content.images_vinnersheep[vinnersheepImageIndex].image" alt="Vinnersheep Image" class="active-image">
      <div class="arrow-container">
        <div class="arrow left-arrow" (click)="showPreviousImage(content.images_vinnersheep, vinnersheepImageIndex)">&lt;</div>
        <div class="arrow right-arrow" (click)="showNextImage(content.images_vinnersheep, vinnersheepImageIndex)">&gt;</div>
      </div>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="left-side">
      <h2>{{ content.felefix_header }}</h2>
      <p>{{ content.felefix_content }}</p>
    </div>
    <div class="right-side">
      <img [src]="content.images_felefix[felefixImageIndex].image" alt="Felefix Image" class="active-image">
      <div class="arrow-container">
        <div class="arrow left-arrow" (click)="showPreviousImage(content.images_felefix, felefixImageIndex)">&lt;</div>
        <div class="arrow right-arrow" (click)="showNextImage(content.images_felefix, felefixImageIndex)">&gt;</div>
      </div>
    </div>
  </div>
  -->
</div>
