<div class="about-us-container">
  <div class="left-container">
    <header class="header">
      <h1>{{ header.start }}</h1>
    </header>
    <div class="text-block">
      <p>{{ content.ueberUns }}</p>
    </div>
    <div class="text-block">
      <p>{{ content.unsereReise }}</p>
    </div>
    <div class="text-block">
      <h2>Unsere Spezialisierungen</h2>
      <p>{{ content.spezialisierungen }}</p>
    </div>
    <div class="text-block">
      <h2>Maßgeschneiderte Lösungen</h2>
      <p>{{ content.customizing }}</p>
    </div>
    <div class="text-block">
      <h2>Umweltschutz</h2>
      <p>{{ content.umweltschutz }}</p>
    </div>
    <div class="text-block">
      <h2>Kontakt</h2>
      <p>{{ content.contact }}</p>
    </div>
  </div>
  <div class="right-container">
    <video controls>
      <source src="assets/video/about_us.mp4" type="video/mp4">
      Dein Browser unterstützt kein Video-Tag.
    </video>
  </div>
</div>
